<% if @handle.name.include?("@") %>
  <h3>Hi, <%= @handle.name.downcase %>!</h3>
<% else %>
  <h3>Hi, @<%= @handle.name.downcase %>!</h3>
<% end %>
<!-- informs user of their score --> 
<div class="colored">
<%if @handle.score_f <= 1 %>
  <h2>
    <%= @handle.score_f %> out of 10. You are not even a little bit narcissistic. 
  </h2>
  <h3>
    Or maybe you need to tweet more often...
  </h3>
  <br>

<%elsif @handle.score_f <= 4 %>
  <h2>
    <%= @handle.score_f %> out of 10. You a little bit narcissistic. 
  </h2>
  <br>
  <h3>Nice work.</h3>
<%elsif @handle.score_f <= 7 %>
		<h2>
      <%= @handle.score_f %> out of 10. 
      <br> 
      You are kind of a narcissist. 
    </h2>
    <h4> Nothing to see here. </h4>
    <br>
<%elsif @handle.score_f <= 10 %>
        <h2>
          <%= @handle.score_f %> out of 10. 
          <br> 
          You are absolutely a narcissist. 
        </h2>
        <h4>Did you even have to ask? </h4>
    <br> 
</div>		
<%else%>
		<h2>You're literally off our charts. I pray 4 U. </h2>
<%end%>
<br>

<!-- informs user of their celebrity match --> 
<div class="row">
<div class="col-md-2"></div>
  <div class="col-md-5">
    <h3 style="text-align: right;"> 
      Your closest celebrity match is: 
      <br> 
      <a href="http://www.twitter.com/<%= @celeb[0]%>" target="_blank"> @<%= @celeb[0]%></a>
    </h3>
  </div>
  <div class="thumb_div img-circle">
    <%= image_tag @celeb[0], class: "thumb", size: "100" %>
  </div>

</div>
<br>
<br>

<!-- buttons for trying another handle or for sharing on social media -->

    <a href="/">
      <input type="button" value="Try Another">
    </input></a>
    
    <a href="/topten">
    <input type="button" value="Top Ten">
    </input> 
    </a>
      
    <a href="#" id="trigger-overlay">
      <input type="button" value="?">
      </input> 
    </a>

    <br><br>

    <%= social_share_button_tag("I scored a " + @handle.score_f.to_s + " out of 10 on the narcissism scale.", :url => "http://areyouanarcissist.com") %>


   <div class="overlay overlay-hugeinc">
      <button type="button" class="overlay-close">Close</button>
      <nav>
          <h2>This app scans your tweets and uses a simple algorithm to determine how narcissistic you are.</h2>
          <h4><small>Created by <a href="http://www.twitter.com/mitchellhart">Mitchell Hart</a> and <a href="https://github.com/AnnaErshova">Anna Ershova</a></small></h4>
      </nav>
    </div>


<br><br><br><br>


