<br><br><br>
<h3>Hi, @<%= @handle.name %></h3>

<%if @handle.score_f > 0 && @handle.score_f < 4  %>
	<h2><%= @handle.score_f %> out of 10. You are not a narcissist.</h2><br>
	<h3>Nice work.</h3>
<%elsif @handle.score_f > 5 && @handle.score_f < 7 %>
		<h2><%= @handle.score_f %> out of 10. You are kind of a narcissist. </h2>
<%elsif @handle.score_f > 7 && @handle.score_f < 11 %>
		<h2><%= @handle.score_f %> out of 10. You are a narcissist.</h2><br> 
		<h3>Did you even have to ask?. </h3>
<%else%>
		<h3>You're literally off our charts. What. The. Fuck. </h3>
<%end%>
<br>
<h3>Your closest celebrity match is <a href="http://www.twitter.com/<%= @celeb[0]%>" target="_blank"> <%= @celeb[0]%></a>.</h3>
<button type="button" class="btn btn-lg btn-danger">
  <a href="/">Try Another?</a>
</button>

<button type="button" class="btn btn-lg btn-primary">
<a href="#">Share</a>
</button>



<!-- 
<br>
<div id="top-right">
<button type="button" class="btn btn-lg" data-toggle="popover" title="Alert!" data-placement="right" data-content="Score for entertainment purposes only.">?</button>
</div> -->